.container-characters {
  background: #202329;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
}

.characters-title {
  padding: 20px;
}

.title {
  color: #ffff;
}

.contain__card-characters {
  width: 600px;
  height: 220px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  overflow: hidden;
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  margin: 0.75rem;
}

.img__card-characters {
  width: 100%;
  flex: 2 1 0%;
}
.img-custom {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-position: center center;
  object-fit: cover;
  margin: 0px;
  transition: opacity 0.5s ease 0s;
}

.description__card-characters {
  position: relative;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex: 3 1 0%;
  padding: 0.75rem;
}
