<div class="container-main">
  <div class="contain-image">
    <img
      class="img-background"
      src="assets/background.png"
      alt="background">

    <div class="nav">
      <div class="ul__container">
        <ul>
          <li
            class="nav-li"
            [routerLink]="['./characters']">CHARACTERS</li>
          <li
            class="nav-li"
            [routerLink]="['./characters']">EPISODES</li>
          <li
            class="nav-li"
            [routerLink]="['./characters']">LOCATION</li>
        </ul>
      </div>
    </div>
    <h3 class="footer__msg">Made by Andrés Morantes</h3>
  </div>
</div>
